[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
flake8 = ">=3.4"
pycodestyle = ">=2.0"
yapf = ">=0.18"
isort = "*"
autopep8 = "*"
{% if cookiecutter.use_pypi_deployment_with_travis == 'y' %}
cryptography = ">=1.4"
PyYAML = ">=3.11"
{% endif %}
pytest = ">=3.3"
pytest-cov = "*"
tox = "*"
pipenv-to-requirements = ">=0.1.9"
"flake8-coding" = "*"
"flake8-comprehensions" = "*"
sphinx = "*"
sphinx-autobuild = "*"
{% if cookiecutter.use_asyncio == 'y' %}
pytest-asyncio = "*"
asynctest = "*"
{% endif %}
{% if cookiecutter.use_django == 'y' %}
pytest-django = "*"
django-reset-migrations = "*"
django-extensions = "*"
{% endif %}

[packages]
pbr = ">=3.0"
{% if cookiecutter.use_django == 'y' %}
django = "*"
{% endif %}

