[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"
isort = "*"
autopep8 = "*"
{% if cookiecutter.use_pypi_deployment_with_travis == 'y' %}
cryptography = "*"
PyYAML = "*"
{% endif %}
pytest = "*"
pytest-cov = "*"
tox = "*"
pipenv-to-requirements = "*"
"flake8-coding" = "*"
"flake8-comprehensions" = "*"
sphinx = "*"
sphinx-autobuild = "*"
pytest-pythonpath = "*"
pytest-env ="*"


[packages]
pbr = ">=3.0"
